argparse==1.2.1
PyYAML==3.10
Mako==0.9.1

# We have to use custom version of docker
# because docker 0.10 changed their api
# and now volumes_from should be passed
# on containers starting stage.
# The patch for docker-py wasn't merged
# yet https://github.com/dotcloud/docker-py/pull/200
# It's the reason why we moved 'docker-py==0.3.1'
#
# How to install it on the master node
# easy_install pip
# yum install git
# -e git+https://github.com/rustyrobot/docker-py.git@fixed-volumes#egg=docker-py
